<?xml version="1.0" encoding="utf-8" ?>

<!-- NOTE THAT THIS FILE WILL BE SET TO BE IGNORED BY GIT -->
<!-- IF THERE ARE ANY CHANGES TO THIS FILE THAT WISH TO BE COMMITTED, FIRST REMOVE THE LOCAL USER AND PASSWORD AND RUN THE FOLLOWING COMMAND TO ALLOW GIT TO TRACK UPDATES TO THE FILE -->
<!-- git update-index -/-no-skip-worktree <file> (WITHOUT THE /)-->
<!-- OR SIMPLY MAKE THE CHANGES IN THE GIT BROWSER WINDOW -->

<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=mysql-fantasy-football-bewewer-fantasy-football.g.aivencloud.com;Port=24983;Database=fantasy_football;User=ExampleUserName;Password=ExamplePassword;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>
